
            h1 {
                color:turquoise;
            }
            * {
                border:solid;
            }

            .menu {
                display:flex;
            }
            .header{
                display:flex;
                background-color: cyan;
                justify-content: space-between;
            }
            .grid {
                display:flex;
                justify-content: space-evenly;
                flex-wrap:wrap;
            }
            .footer {
                display:flex;
                justify-content: flex-end;

            }
            p {
              text-align: center;
                
            }